.features { 
    &__container { 
        grid-column: 3 / 11;
        margin: 15rem 0;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 6rem;
    }
}