.features { 
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1.5rem 2.5rem;

    &__container { 
        grid-column: 3 / 11;
        margin: 15rem 0;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
        gap: 6rem;
        align-items: start;
    }

    &__icon { 
        width: 4.5rem;
        height: 4.5rem;
        fill: $color-primary;
        margin-top: -1rem;
    }

    &__paragraph {
        font-size: 1.7rem;
        grid-column: 2 / 3;
    }
}