.header {
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(rgba($color-secondary, 0.9), rgba($color-secondary, 0.9)), url(/public/img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, max-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    row-gap: 1.5rem;
    justify-content: center;

    @media only screen and (max-width: 75em) {
        row-gap: 3rem;
    }

    @media only screen and (max-width: 62.5em) {
        row-gap: 2rem;
        padding: 5rem;
        padding-top: 3rem;
        justify-content: start;
    }

    @media only screen and (max-width: 59.375em) {
        justify-content: center;
    }

    @media only screen and (max-width: 43.75em) {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width:37.5em) {
        h3 {
            justify-self: center;
        }

        h1 {
            justify-self: center;

        }
    }

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__button {
        justify-self: start;
        align-self: start;

        @media only screen and (max-width:37.5em) {
            justify-self: center;
        }
    }

    &__recommended-text {
        color: $color-grey-light-2;
        font-size: 1.6rem;
        text-transform: capitalize;

        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        gap: 1.5rem;

        &::before,
        &::after {
            content: "";
            display: inline-block;
            height: 1px;
            background-color: $color-grey-light-2;
        }
    }

    &__recommended-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        justify-items: center;

        @media screen and (max-width:21.875em) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, 1fr);
        }

        img {
            height: 2.5rem;
            filter: brightness(70%);

            @media screen and (max-width: 62.5em) {
                height: 2rem;
            }
        }

        @media only screen and (max-width: 62.5em) {
            gap: 4rem;
        }
    }
}