body.grid-container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media screen and (max-width: 68.75em) {
        grid-template-rows: 50vh min-content 40vw repeat(3, min-content);
    }


    @media screen and (max-width: 56.25em) {
        grid-template-rows: 6rem 60vh min-content 40vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media screen and (max-width: 43.75em) {
        grid-template-rows: 6rem 80vh min-content max-content repeat(3, min-content);
    }
}